<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ALL" />
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <parsers>
      <parser type="Spring.Remoting.Config.RemotingNamespaceParser, Spring.Services" />
      <parser type="Spring.ServiceModel.Config.WcfNamespaceParser, Spring.Services" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
      <!--<resource uri="assembly://Vns.Erp.WcfService/Vns.Erp.WcfService.Config.InProcess/Dao-SQLite.xml" />-->
      <resource uri="assembly://Vns.Erp.WcfService/Vns.Erp.WcfService.Config.InProcess/Dao.xml" />
      <resource uri="assembly://Vns.Erp.WcfService/Vns.Erp.WcfService.Config.InProcess/DaoObjects.xml"/>
      <resource uri="assembly://Vns.Erp.WcfService/Vns.Erp.WcfService.Config.InProcess/Services.xml"/>
      <resource uri="assembly://Vns.Erp.Security/Vns.Erp.Security/DaoObjects.xml"/>
      <resource uri="assembly://Vns.Erp.Security/Vns.Erp.Security/Services.xml"/>      
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
<!--
      <object id="WcfVnsDanhMucDaiLyService" type="Vns.KeyManagement.Service.DanhMucDaiLyService, Vns.KeyManagement" singleton="false">
        <property name="DanhMucDaiLyDao" ref="DanhMucDaiLyDao" />
      </object>
-->      
    </objects>
    </spring>
  <system.web>
    <sessionState cookieless="UseCookies" mode="InProc"></sessionState>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms slidingExpiration="true" name="AuthCookie" protection="All" timeout="20" />
    </authentication>
    <!--    
    <membership defaultProvider="TBH_MembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="TBH_MembershipProvider" type="Vns.Erp.Security.VnsErpMembershipProvider, Vns.Erp.Security" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>

    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="TBHROLES" defaultProvider="TBH_RoleProvider">
      <providers>
        <add connectionStringName="LocalSqlServer" applicationName="/" name="TBH_RoleProvider"  type="Vns.Erp.Security.VnsRoleProvider, Vns.Erp.Security"/>
      </providers>
    </roleManager>
    -->
    <machineKey decryption="AES" validation="SHA1" decryptionKey="1523F567EE75F7FB5AC0AC4D79E1D9F25430E3E2F1BCDD3370BCFC4EFC97A541" validationKey="33CBA563F26041EE5B5FE9581076C40618DCC1218F5F447634EDE8624508A129" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <services>
      
      <service name="System.Web.ApplicationServices.AuthenticationService">
        <endpoint contract="System.Web.ApplicationServices.AuthenticationService" binding="basicHttpBinding" bindingNamespace="http://asp.net/ApplicationServices/v200" />
      </service>

      <service name="AppCtStatusService" behaviorConfiguration="InterceptorBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Vns.Erp.Core.Admin.Service.Interface.IAppCtStatusService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="AppDvBcService" behaviorConfiguration="InterceptorBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Vns.Erp.Core.Admin.Service.Interface.IAppDvBcService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
    </services>
      
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="InterceptorBehavior">
          <!---->
        <interceptorBehaviorExtension />

        <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="interceptorBehaviorExtension" type="Vns.Erp.WcfService.InterceptorBehaviorExtension, Vns.Erp.WcfService" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  </configuration>
