<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSUpdateSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kt45.somee.com/wsupdate.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSUpdateSoap" contract="WSUpdate.WSUpdateSoap"
                name="WSUpdateSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="Endpoint1" value="http://kt45.somee1.com/wsupdate.asmx"/>
    <add key="Endpoint2" value="http://kt45.somee.com/wsupdate.asmx"/>
    <add key="Download1" value="http://kt45.somee.com/kt45/"/>
    <add key="Download2" value="http://kt45.somee.com/kt45/"/>
  </appSettings>
</configuration>
